.hero_section {
  width: 100%;
  min-height: 50vh;
  padding: 1rem;
  /* background-color: var(--primary-color); */
  background: var(--primary-gradient-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 1.5rem 1.5rem rgb(56 125 255 / 30%);
}
.inner_section h1 {
  font-size: 5rem;
  color: var(--white-color);
}
.inner_section p {
  font-size: 2rem;
  margin-top: 1rem;
  color: var(--white-color);
}
@media (max-width: 800px) {
  .inner_section h1 {
    font-size: 3rem;
  }
  .inner_section p {
    font-size: 1.5rem;
  }
}
